.container {
  background-color: hsl(217, 54%, 11%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styles {
  background-color: hsl(216, 50%, 16%);
  width: 13.5%;
  height: 60vh;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
}

.h1-class {
  color: white;
}
.p-class {
  color: grey;
}
.h5-class {
  color: greenyellow;
  word-wrap: break-word;
  display: inline-block;
  padding: 0 10px;
}
.side {
  border-bottom: 1px white solid;
}

.color-2{
    color:grey
}
.last{
    color:white;
    font-size: 15px;
}
.profile-pic {
    
display: flex;
padding: 0 1px;
justify-content: space-between;
align-items: center;



}
